<app-banner [banner_info]="banner"></app-banner>
<mat-accordion multi>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>Avant le LAAS-CNRS</mat-panel-title>
      <mat-panel-description>
        blabla toujours visible
      </mat-panel-description>
    </mat-expansion-panel-header>
      blabla visible si ouvert
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>Les débuts de la robotique</mat-panel-title>
      <mat-panel-description>
        blabla toujours visible
      </mat-panel-description>
    </mat-expansion-panel-header>
    blabla visible si ouvert
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>Le groupe RIA</mat-panel-title>
      <mat-panel-description>
        blabla toujours visible
      </mat-panel-description>
    </mat-expansion-panel-header>
    blabla visible si ouvert
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>Les 3 équipes ...</mat-panel-title>
      <mat-panel-description>
        blabla toujours visible
      </mat-panel-description>
    </mat-expansion-panel-header>
    blabla visible si ouvert
  </mat-expansion-panel>
</mat-accordion>
