.body{
  display: grid;
  /*grid-template-columns: repeat(3, 1fr);*/
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}
.header {
  grid-column: 1;
  grid-row: 1;
}
.content
{
  grid-column: 1;
  grid-row: 2;
}
.footer
{
  grid-column: 1;
  grid-row: 3;
}
